.loginForm {
    width: 20%;
    margin: auto;
    margin-top: 170px;

}

#headline1 {
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    opacity: 0.3;
}

#headline2 {
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    opacity: 1;
}

#headline3 {
    font-size: 15px;
    color: #000000;
    opacity: 0.3;
    margin-top: 10px;
    margin-bottom:20px;
}


#loginButton {
    width: 33%;
    margin-top: 10px;
    font-size: 13px;
    padding: 12px;
    font-family: 'Open Sans', sans-serif !important;
}

#signUpButton {
    width: 33%;
    margin-top: 10px;
    border: 1px solid grey;
    margin-left: 15px;
    font-size: 13px;
    padding: 12px;
    background-color: white;
    font-family: 'Open Sans', sans-serif !important;
}

.inputPass {
    height: 60px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
}


.inputMail {
    height: 60px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
}

@media screen and (max-width: 800px){
    .loginForm {
        width: 90%;
        margin-top: 5px;
    }

    .logo {
        margin-left: 10px;
    }
}