#listGroup .list-group-item {
    height: 50px;
    margin: 0;
    padding: 7px;
}

#listGroup .list-group-item p {
    margin-top: 5px;
}

#listGroup .list-group-item .alert {
    padding: .4rem 0.7rem;
    font-size: 0.8rem;
}

#listGroup .list-group-item.active{
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #5b5b5b;
    font-size: 0.9rem;
    font-weight: bold;
}
